h1 {
	color: white;
	font-size: 100px;
}

body {
	text-align: center;
	background-color: black;
}

.nameform,
.greeting {
	display: none;
}

.showing {
	display: block;
}

.js-toDoList {
	color: white;
}

.js-weather {
	font-size: 50px;
	color: white;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bgImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation: fadeIn 0.5s linear;
}
